<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CAT-NIP</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  {% load static %}
  <link rel="stylesheet" href="{% static 'angular/browser/styles.css' %}">
</head>
<body>
  <app-root></app-root>
  <script src="{% static 'angular/browser/polyfills.js' %}" type="module"></script>
  <script src="{% static 'angular/browser/main.js' %}" type="module"></script>
</body>
</html>
